<div class="row">
    <div class="col-md-12 text-center">
        <div class="btn-group" role="group" aria-label="Basic outlined">
            <a [routerLink]="['/usuarios', 'nuevo']" routerLinkActive='active' type="button" class="btn btn-outline-primary btn-sm">Nuevo</a>
            <a [routerLink]="['/usuarios', '10', 'editar']" routerLinkActive='active' type="button" class="btn btn-outline-primary btn-sm">Editar</a>
            <a [routerLink]="['/usuarios', '10', 'detalle']" routerLinkActive='active' type="button" class="btn btn-outline-primary btn-sm">Ver</a>
            <a href='#' type="button" class="btn btn-outline-danger btn-sm">Eliminar</a>
        </div>
    </div>
</div>


<router-outlet></router-outlet>