<div class="container main-container">
    <h1>Demos Miscelaneos</h1>
    <hr>
    <div class="row row-cols-3">
        <div class="col border p-2">
            <app-ng-style></app-ng-style>
        </div>
        <div class="col border p-2">
            <app-css-particular></app-css-particular>
        </div>
        <div class="col border p-2">
            <app-ng-class></app-ng-class>
        </div>
        <div class="col border p-2">
            <app-directivas></app-directivas>
        </div>
        <div class="col border p-2">
            <app-ng-switch></app-ng-switch>
        </div>
    </div>
</div>